html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding-right:1%;
}

.input-box {
    width: 40%;
}

.navbar-search {
    margin: 0 15% 0 0;
    width: 100%;
}

.input-box-search {
    width: 70%;
}

.login-box {
    margin: 0 5% 0 0;
}

#username-nav {
    border-bottom: groove 2px black;
}

.logout-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}