@model BookRen.Models.User;

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div>
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label>Email:</label>
            <br />
            <input asp-for="Email" class="input-box" />
            <span asp-validation-for="Email"></span>
        </div>
            <label>Username:</label>
            <br />
            <input asp-for="Username" class="input-box" />
            <span asp-validation-for="Username"></span>
        <div>
            <label>Password:</label>
            <br />
            <input asp-for="Password" type="password" class="input-box" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <input type="submit" value="Register"/>
        </div>
    </form>
</div>